[submodule "DonationReminder"]
	path = DonationReminder
	url = http://github.com/tkurita/DonationReminder.git
[submodule "PathExtra"]
	path = PathExtra
	url = http://github.com/tkurita/PathExtra.git
[submodule "StringExtra"]
	path = StringExtra
	url = http://github.com/tkurita/StringExtra.git
[submodule "GUIScriptingChecker"]
	path = GUIScriptingChecker
	url = https://github.com/tkurita/GUIScriptingChecker.git
[submodule "LibraryScripts/InsertionLocator.scptd"]
	path = LibraryScripts/InsertionLocator.scptd
	url = https://github.com/tkurita/InsertionLocator.scptd.git
[submodule "LibraryScripts/XList.scptd"]
	path = LibraryScripts/XList.scptd
	url = https://github.com/tkurita/XList.scptd.git
[submodule "LibraryScripts/XText.scptd"]
	path = LibraryScripts/XText.scptd
	url = https://github.com/tkurita/XText.scptd.git
