<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>PowerSelect</string>
	<key>CFBundleGetInfoString</key>
	<string>$(MARKETING_VERSION) ${COPYRIGHT}</string>
	<key>CFBundleHelpBookFolder</key>
	<string>PowerSelectHelp</string>
	<key>CFBundleHelpBookName</key>
	<string>net.script-factory.PowerSelect.help</string>
	<key>CFBundleIconFile</key>
	<string>PowerSelect-Retina</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>PowerSelect</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>19</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.utilities</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSAppleEventsUsageDescription</key>
	<string>This application needs to control other applications to run.</string>
	<key>NSAppleMusicUsageDescription</key>
	<string>This application needs access to your music to run.</string>
	<key>NSAppleScriptEnabled</key>
	<string>YES</string>
	<key>NSHumanReadableCopyright</key>
	<string>${COPYRIGHT}</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>This application needs access to your photos to run.</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSServices</key>
	<array>
		<dict>
			<key>NSMenuItem</key>
			<dict>
				<key>default</key>
				<string>PowerSelect/Find in Finder</string>
			</dict>
			<key>NSMessage</key>
			<string>searchInFront</string>
			<key>NSPortName</key>
			<string>PowerSelectService</string>
			<key>NSSendTypes</key>
			<array>
				<string>public.utf8-plain-text</string>
			</array>
		</dict>
	</array>
	<key>NSSiriUsageDescription</key>
	<string>This application needs access to Siri to run.</string>
	<key>NSSystemAdministrationUsageDescription</key>
	<string>This application needs access to administer this system to run.</string>
	<key>SUCheckAtStartup</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://www.script-factory.net/appcast/PowerSelect.xml</string>
	<key>SUPublicDSAKeyFile</key>
	<string>dsa_pub.pem</string>
</dict>
</plist>
